<?xml version="1.0" encoding="UTF-8"?>
<Root>
  <SaveFloder DefaultFolder="F:/CodingRoom/Unity/Boneknitting Technique/Assets/StreamingAssets/Movies">
    <CurrentFolder>F:/CodingRoom/Unity/Boneknitting Technique/Assets/StreamingAssets/Movies</CurrentFolder>
  </SaveFloder>
  <HistoryFile>
  </HistoryFile>
</Root>